@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

html,body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 20px;
}

a, a:visited {
    color: rgb(230, 62, 62);
}

a:hover {
    color: rgb(62, 87, 230);
}

a:active{
     color: rgb(154, 62, 230);
}


header{
    text-align: center;
    padding: 20px;
    background-image: url('../img/kanao-bg.jpeg');
    background-repeat: no-repeat; /* for a single image */
    background-position: center;
    background-size: 100%; /* for stretch*/
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 3px solid rgb(28, 28, 29);
    border-radius: 50%;
    background-image: url('./../img/kanao-pfp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

h1{
    font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  margin: 10px 0 20px 0;
  color: rgb(236 205 255);
  -webkit-text-stroke: 4px black; /*border on font */
}

h2{
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
 -webkit-text-stroke: 1px rgb(236 205 255);

}
main{
    width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 40%;
    margin: 0px 30%;
    
}