

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Angkor&family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Ultra&display=swap');


body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

html,body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 20px;
}

a, a:visited {
    color: rgb(230, 62, 62);
}

a:hover {
    color: rgb(62, 87, 230);
}

a:active{
     color: rgb(154, 62, 230);
}


header{
    text-align: center;
    padding: 20px;
    background-color: rgb(248, 55, 152);
}

header .pfp {
    width: 179px;
    height: 171px;
    border: 3px solid rgb(28, 28, 29);
    border-radius: 50%;
    background-image: url('./../img/kanao-pfp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 179px;
    margin: 0 auto; 
}

h1{
    font-family: "Ultra", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  margin: 10px 0 20px 0;
  color: rgb(154, 74, 230);
  -webkit-text-stroke: 4px black; /*border on font */
}

h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin: 20px 0;
  text-align:left;
  color: rgb(0, 0, 0);;
 -webkit-text-stroke: 1px  rgb(0, 0, 0);

}
@media (max-width:600px){
    h1{
        font-size: 65px;
    }
    h2{
        font-size: 30px;
    }
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
   
    
}
/* footer */

footer{
     
    background-color: rgb(131, 131, 230);
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

footer .content{
     max-width: 800px;
    margin: 0 auto;
}

footer a,
footer a:visited{
    color: white;
}

footer a:hover{
     color: rgb(230, 124, 62);
}
@media (max-width: 600px) {
    footer p{
        font-size: 16px;
    }
}
